* {
  box-sizing: border-box;
  font-family:Verdana;
}

.topnav {
  background-color: #0000000d;
  padding: 15px;
  text-align: left;
}

#topNavTitle {
  color: #7c3aed;
}

#topNavLogin {
  color: #7c3aed;
}

#topNavLoginDataNpub {
  color: #606770;
  word-break: break-all;
}

#topNavLoginDataLedger {
  color: #606770;
  word-break: break-all;
}

.menuLink {
  color: #1c1e21;
}

.content {
  padding: 20px;
  text-align: left;
}

.contentTitle {
  color: #ff8570;
}

.contentSubTitle {
  color: #1c1e21;
}

.contentText {
  color: #1c1e21;
  word-break: break-all;
}

.contentTable {
  border: 1px solid #1c1e21;
  border-collapse: collapse;
  text-align: left;
  color: #1c1e21;
}

.contentTable > th {
  border: 1px solid #1c1e21;
  padding: 10px;
}

.contentTable > td {
  border: 1px solid #1c1e21;
  padding: 10px;
}

.bottomnav {
  background-color: #0000000d;
  text-align: left;
  padding: 10px;
  margin-top: 7px;
}

.bottomNavHeader {
  color: #7c3aed;
}

.bottomNavLink {
  color: #606770;
}
